body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.imagenResponsiva img {
  width: 30%;
  height: auto;
  max-width: 40%;
  display: grid;
  margin: auto;

}

.imagen-responsiva {
  max-width: 50%;
  overflow: hidden;
}

.cuerpo {
  max-width: auto;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menu {
  display: grid;
  grid-template-columns: auto;
  background-color: #007FFF;
  margin-bottom: 20px;
  position: relative;
}

#menu ul {
  display: contents;
}

#menu li {
  list-style-type: none;
}

#menu li a {
  display: block;
  text-align: center;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#menu li a:hover {
  background-color: #89CFF0;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

header p {
  font-size: 1.2em;
  color: #666;
}

##Presentacion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

#Presentacion h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #444;
}

#Presentacion p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

#Presentacion img {
  max-width: 40%;
  height: auto;
  margin-left: 20px;
  align-self: flex-end;
}

.alternado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.alternado img {
  max-width: 40%;
  height: auto;
}

.alternado:nth-child(even) img {
  order: 2;
}

.alternado:nth-child(odd) img {
  order: 1;
}

@media (max-width: 600px) {
  .alternado {
    flex-direction: column;
  }

  .alternado img {
    max-width: 100%;
    margin: 0 auto;
  }
}



#Presentacion,
#habilidades,
#proyectos,
#contacto {
  margin-bottom: 40px;
}

#Presentacion h2,
#habilidades h2,
#proyectos h2,
#contacto h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #444;
}

#habilidades ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#habilidades li {
  background-color: #89CFF0;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

#habilidades li img {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

#habilidades h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #444;
}

.proyecto {
  padding: 20px;
  border: 1px solid #4169E1;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.proyecto h3 {
  margin-top: 0;
}

#contacto {
  display: flex;
  flex-direction: column;
  background-color: #007FFF;
  text-align: center;
  margin-bottom: 48px;

}

#contacto h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #444;
}

#contacto p {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#contacto p img {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

#contacto a {
  color: #333;
  text-decoration: none;
}

#contacto a:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {
  #menu {
    grid-template-columns: 1fr;
  }


  header h1 {
    font-size: 1.8em;
  }

  .imagen-responsiva img {
    width: 100%;
  }

  header p {
    font-size: 1em;
  }

  #habilidades ul {
    flex-direction: column;
  }

  .proyecto {
    padding: 10px;
  }

  #contacto p {
    font-size: 1em;
  }
}


@media (min-width: 601px) and (max-width: 900px) {
  #menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .imagen-responsiva img {
    width: 80%;
  }

  header h1 {
    font-size: 2.2em;
  }



  #habilidades ul {
    flex-direction: row;
  }
}


@media (min-width: 901px) {
  #menu {
    grid-template-columns: repeat(4, 1fr);
  }

  .imagen-responsiva img {
    width: 60%;
  }


  #habilidades ul {
    flex-direction: row;
  }
}